#nav::-webkit-scrollbar {
    display: none;
  }
body{margin: 0;}

li{list-style-type: none;}

ul{padding: 0;}

#nav{
    width: 250px;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
    overflow: auto;
}

.bar>li {
    line-height: 50px;
 }

 
/*---------------nav bar top---------------*/
.manager{
    padding-left: 0px;
 }
 
 .manager img{
    margin: 0;
 }
 
 .manager h2{
    margin: 0;
 }
 
 
 .bar {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
 }
 
 .bar > li{
    border-top: 1px solid rgba(0, 0, 0, 0.185);
    position: relative;
    width: 200px;
    overflow: visible;
 }
 
 .bar > li:hover{
    background-color: #020c132a;
    overflow: visible;
 }
 
 .menu > li:hover {
    background-color: #aebdf8;
    transition-duration: 0.5s;
  }
 
  .menu > li:not(:hover) {
    
    transition: 0.5s ease-out;
  }
 
 
 /* --------- 서브메뉴 li한개의 높이 ------------*/
 
 
 .menu>li:hover .member {
    height: 200px;
    transition-duration: 1s;
 }
 .menu>li:hover .product {
    height: 100px;
    transition-duration: 1s;
 }
 .menu>li:hover .order {
    height: 400px;
    transition-duration: 1s;
 }
 .menu>li:hover .cancell {
    height: 150px;
    transition-duration: 1s;
 }
 .menu>li:hover .calculate {
    height: 100px;
    transition-duration: 1s;
 }
 .menu>li:hover .board {
    height: 250px;
    transition-duration: 1s;
 }
 .menu>li:hover .statistics {
    height: 240px;
    transition-duration: 1s;
 }
 .menu>li:hover .service {
    height: 100px;
    transition-duration: 1s;
 }

 /*-----------------  화살표 ---------------*/

h4{
    display: flex;
    display: inline-flex;
 }
 
 
 .down{
    position: relative;
    top: 5px;
 
 }
 
 .down1{
    position: relative;
    left: 126px;
    display: inline-flex;
 }
 
 .down2{
    position: relative;
    left: 87px;
    display: inline-flex;
 }
 
 .down3{
    position: relative;
    left: 110px;
    display: inline-flex;
 }
 
 
/*---------------nav bar top---------------*/
.manager{
    padding-left: 0px;
 }
 
 .manager img{
 padding: 30px 0px 20px 85px;
 width: 70px;
 }
 
 .manager h2{
    padding: 20px 0px 25px 45px;
 }

 header{
    display: flex;
    width: 100vh;
    height: 100px;
    margin-left: 250px;
    justify-content: space-between ;
    padding: 40px;
    vertical-align: middle;
 }
 



#test{width: 1500px;
height: 600px; background-color: aqua; margin-left: 300px;}